body {
  background-image: url('images/imageacceuil.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.button {
  background-color:inherit;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 150px;
  font-family: papyrus;
  margin: 450px 0px;
  cursor: pointer;

}

