html, body{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
} 

body{
    background-image: url(pictures/ventre.png);
    background-size: cover;
    display: flex;
}


.bebe
{
height: 420px;
width: 270px;    
margin-top: 13%;    
margin-left: 38%;
display: block;
position: absolute;

    
}
