
html, body{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
} 

body{
    background-image: url(pictures/yeux.png);
    background-size: cover;
    display: flex;
}


.bouton
{
height: 80px;
width: 200px;    
margin-top: 48%;    
margin-left: 65%;
display: block;
position: absolute;

    
}