
html, body{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
} 

body{
    background-image: url(pictures/epaulecouleur.png);
    background-size: cover;
    display: flex;
}

.boutonCoeur
{
height: 80px;
width: 85px;    
margin-top: 13%;    
margin-left: 87%;
display: block;
position: absolute;

    
}

.boutonCoeur2
{
height: 80px;
width: 85px;    
margin-top: 48%;    
margin-left: 21%;
display: block;
position: absolute;

    
}

.boutonCoeur3
{
height: 80px;
width: 85px;    
margin-top: 45%;    
margin-left: 86%;
display: block;
position: absolute;

    
}



