* {
    margin: 0;
    padding: 0;
}

@keyframes f {
                0%
                {
                    opacity: 0%
                }
                90%
                {
                    opacity: 0%
                }
                100%
                {
                    opacity: 100%
                }
            }

.myVideo {
    object-fit: cover; 
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    position: absolute;
    top: 61.4%;
    left: 49.9%;
    transform: translateX(-50%) translateX(-50%);
    text-align: center;
    animation: y 7s;
    z-index: 2;
}

@keyframes y {
    0%
    {
        opacity: 0%
    }
    90%
    {
        opacity: 0%
    }
    100%
    {
        opacity: 100%
    }
}

.container:hover {
    text-decoration: underline;
}

.text a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8vw;
}
