* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Quiqusand, Helvetica, sans-serif ;
	background: #333;
	color: #fff;
	line-height: 1.6;
	height: 100vh;
	overflow: hidden;

}

.container{
	width: 100%;
	height: 100%;
	/* CSS SMOOTH Scroll */
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory; 
}

.navbar {
	position: fixed;
	top: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	height: 60px;
	background: rgba(0,0,0,0.7);
}

.navbar ul {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
}

.navbar ul li {
	margin: 0 1rem;
	padding: 1rem;
}

.navbar ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #f4f4f4;
}

.navbar ul li a:hover {
	color: skyblue;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	width: 100%;
	height: 100vh;
	scroll-snap-align: center;
}

section h1{
	font-size: 4rem; 
}

section p{
	font-size: 1.5rem;
}

section#void {
	background: url(../image/void.jpg) no-repeat center center/cover;
}

section#embryo {
	background: url(../image/bbysolar.png) no-repeat center center/ cover;
}

section#star {
	background: url(../image/stars.png) no-repeat center 	center/ cover;
}

section#extension {
	background: url(../image/ptellurique.png) no-repeat center center/ cover;
}

section#expansion {
	background: url(../image/pgazeux.png) no-repeat center center/ cover;
}

section#embryon {
	background: url(../image/protobryon.png) no-repeat center center/ cover;
}

section#grownsolo {
	background: url(../image/cerveille.png) no-repeat center center/ cover;
}

section#planetsection1 {
	background: url(../image/tellurique.png) no-repeat center center/ cover;
}

section#planetsection2 {
	background: url(../image/gazeux.png) no-repeat center center/ cover;
}